
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-toolbar{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-sidenav-container{
  background:  url('../assets/img/background.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

[hidden] {
  display: none !important;
}
