<mat-toolbar>
    <h1 class="mat-h1">
        <mat-icon>groups</mat-icon>Pessoas cadastradas no sistema
    </h1>
</mat-toolbar>
<div class="content" fxLayout="row warp" fxLayoutAlign="center center" fxLayoutGap="5px">
    <mat-card fxFlex.sm="100%" fxFlex="calc(50% - 5px)">
        <mat-card-header>
            <mat-card-title>
                Pessoas
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <dt-pessoas></dt-pessoas>
        </mat-card-content>
    </mat-card>


</div>